In [34]:
#importando bibliotecas
import pandas as pd
import requests

In [35]:
#Definindo variáveis
header = {'User-Agent':'Mozilla/5.0(Windows NT 10.0; Win64) AppleWebKit/537.36 \(KHTML, like Gecko)Chrome/97.04692.99 Safari/537.36'}
url = 'https://www.fundsexplorer.com.br/ranking'
request = requests.get(url, headers=header)

df = pd.read_html(request.text)

In [36]:
#enumerando DataFrames
for i, tabela in enumerate(df):
    print('---------------------------')
print(i)
print(tabela)

---------------------------
0
    Códigodo fundo                Setor Preço Atual  Liquidez Diária  \
0           FIVN11            Shoppings     R$ 3,22          17482.0
1           BZLI11  Títulos e Val. Mob.    R$ 17,00              5.0
2           XTED11   Lajes Corporativas     R$ 8,82           2223.0
3           ALMI11   Lajes Corporativas   R$ 921,00             15.0
4           PABY11              Híbrido    R$ 16,95           1143.0
..             ...                  ...         ...              ...
375         CCRF11  Títulos e Val. Mob.    R$ 85,00            142.0
376         CNES11   Lajes Corporativas    R$ 32,00             10.0
377         MCHY11  Títulos e Val. Mob.   R$ 107,00             79.0
378         EDGA11   Lajes Corporativas    R$ 18,70           2666.0
379         BTRA11               Outros    R$ 83,92           6504.0

    Dividendo DividendYield DY (3M)Acumulado DY (6M)Acumulado  \
0     R$ 0,00         0,00%            0,00%            0,00%
1     R$ 0,00         0,00%            0,00%            0,00%
2     R$ 0,00         0,00%            0,00%            0,00%
3     R$ 0,00         0,00%            0,00%            0,00%
4     R$ 0,00         0,00%            0,00%            0,00%
..        ...           ...              ...              ...
375   R$ 0,55         0,58%            2,03%            6,04%
376   R$ 0,11         0,35%            1,07%            1,98%
377   R$ 3,40         3,24%            5,87%            9,77%
378   R$ 0,15         0,82%            2,25%            3,88%
379   R$ 0,85         1,00%            2,94%            5,36%

    DY (12M)Acumulado DY (3M)Média  ...     PatrimônioLíq.          VPA  \
0               0,00%        0,00%  ...   R$ 65.352.435,22      R$ 6,94
1               0,00%        0,00%  ...  R$ 433.127.158,26     R$ 10,49
2               0,00%        0,00%  ...   R$ 27.688.895,17     R$ 13,26
3               0,00%        0,00%  ...  R$ 250.446.109,75  R$ 2.252,68
4               0,00%        0,00%  ...  R$ -12.026.292,32    R$ -15,86
..                ...          ...  ...                ...          ...
375            12,96%        0,68%  ...  R$ 151.624.862,95     R$ 96,46
376             3,72%        0,36%  ...  R$ 263.957.120,08     R$ 89,50
377            16,95%        1,96%  ...  R$ 357.847.552,23     R$ 99,69
378             8,02%        0,75%  ...  R$ 252.142.355,54     R$ 66,14
379            10,83%        0,98%  ...  R$ 348.636.630,43    R$ 103,62

     P/VPA DYPatrimonial VariaçãoPatrimonial Rentab. Patr.no Período  \
0     46.0           NaN                 NaN                     NaN
1    162.0           NaN                 NaN                     NaN
2     67.0           NaN                 NaN                     NaN
3     41.0           NaN                 NaN                     NaN
4   -107.0           NaN                 NaN                     NaN
..     ...           ...                 ...                     ...
375   88.0         0,57%              -1,87%                  -1,31%
376   36.0         0,12%               2,57%                   2,70%
377  107.0         3,41%              -3,72%                  -0,43%
378   28.0         0,23%              -0,02%                   0,21%
379   81.0         0,82%               0,53%                   1,36%

    Rentab. Patr.Acumulada VacânciaFísica  VacânciaFinanceira QuantidadeAtivos
0                      NaN         56,00%                 NaN                1
1                      NaN            NaN                 NaN                0
2                      NaN          0,00%             100,00%                1
3                      NaN         64,05%                 NaN                1
4                      NaN            NaN                 NaN                1
..                     ...            ...                 ...              ...
375                  2,72%            NaN                 NaN                0
376                  4,26%         56,70%                 NaN                1
377                  9,03%            NaN                 NaN                0
378                  0,95%         48,81%                 NaN                1
379                  5,71%            NaN                 NaN                0

[380 rows x 26 columns]

In [37]:
#Atribuindo tabela principal ao DataFrame "0"
df = pd.DataFrame(df[0])

In [39]:
df['Preço Atual'] = df['Preço Atual'].apply(lambda x: str(x).replace("R$",""))
df['DY (12M)Média'] = df['DY (12M)Média'].apply(lambda x: str(x).replace("%",""))

In [40]:
import gspread

CODE = '1mO-7fwEb6euJCBalaZRgtHsFt4NXFHuP4qkFD0UPtVk'
gc = gspread.service_account(filename = 'key.json')
sh = gc.open_by_key(CODE)
ws = sh.worksheet('Cotacao_fiis')

In [41]:
df = df.fillna('')
ws.update('A1:Z381',[df.columns.values.tolist()]+ df.values.tolist())

{'spreadsheetId': '1mO-7fwEb6euJCBalaZRgtHsFt4NXFHuP4qkFD0UPtVk',
 'updatedRange': 'Cotacao_fiis!A1:Z381',
 'updatedRows': 381,
 'updatedColumns': 26,
 'updatedCells': 9906}